@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
}

.react-flow .react-flow__handle {
  width: 30px;
  height: 20px;
  border-radius: 3px;
  background-color: #784be8;
}

.handletext {
  position: relative;
  width: 200px;
  transform: translate(10px, -40%);
  font-size: 12px;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.row {
  display: flex; /* İçeriği yatay sıralamak için flexbox kullanın */
  justify-content: space-between; /* İçeriği boşluğa yayarak hizalayın */
  align-items: center; /* İçeriği dikey olarak ortala */
  /* Diğer stil özellikleri */
}


.loading-indicator:before {
    content: '';
    background: #00000080;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .loading-indicator:after {
    content: ' ';
    position: fixed;
    top: 40%;
    left: 45%;
    z-index: 10010;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.2rem;        
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0474bf; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}